Package: re2c
Version: 1.1.1-1
Architecture: amd64
Maintainer: JCF Ploemen (jcfp) <linux@jcf.pm>
Installed-Size: 1152
Depends: libc6 (>= 2.14), libgcc1 (>= 1:3.0), libstdc++6 (>= 5.2)
Section: devel
Priority: optional
Multi-Arch: foreign
Homepage: http://re2c.org
Description: tool for generating fast C-based recognizers
 re2c is a great tool for writing fast and flexible lexers. Unlike
 other such tools, re2c concentrates solely on generating efficient
 code for matching regular expressions. Not only does this singleness
 make re2c more suitable for a wider variety of applications, it
 allows one to generate scanners which approach hand-crafted ones in
 terms of size and speed.
